body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f3e5ab;
}

footer {
    background-color: #f3e5ab;
    text-align: center;
    padding: center;
    padding: 10px;
    margin-top: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p a:hover{
    color: #00000075;
}