body {
    background-color: #d4d0d0;
}

h3 {
    font-size: 24px;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    margin-top: 120px;
    margin-bottom: 50px;
    border: 2px solid #05111e;
    border-radius: 10px;
    padding: 10px;
}

li {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    column-count: 3;
    column-gap: 20px;
    list-style: None;
    background-color: #e0d0d0;
    width: 20%;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    padding: 10px;
}

li p {
    margin: 10px;
}

footer {
    background-color: #d4d0d0;
    text-align: center;
    padding: center;
    padding: 10px;
    margin-top: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}